@page "/report"
<PageTitle>Tabular Report</PageTitle>
@rendermode InteractiveServer
@using OOPsReview;
@using CommonMethods;

<h1>Employment Report</h1>
<h3>demonstrate tabular reporting and File I/O using File methods</h3>

@if (feedback.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedback</p>
    </div>
}

@if (errormsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach (var error in errormsgs)
            {
                <!--
                    the errormsgs 1s a List collection there is only
                    one component, the string
                    therfore you would NOT need the .Value

                -->
                <li>@error</li>
            }
        </ul>
    </div>
}

@*
    form area
    standard html controls
    use bootstrap for formating
    each control will be on a separate "row"
*@
@if (employments == null)
{
    <p>You need to have a csv file containing your employment data.</p>
}
else if( employments.Count == 0)
{
    <p>No Employments to report</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>Level</th>
                <th>Years</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in employments)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.StartDate.ToShortDateString()</td>
                    <td>@item.Level</td>
                    <td>@item.Years</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
   
}